li, p {
  text-align: left;
}

.projectImages {
  margin-bottom: 20px;
}

.projects {
  padding: 2em;
  min-height: 100vh;
  background-color: #246;
  width: 100%;
}

.projects h2 {
  margin-bottom: 1.6em;
  color: white;
}

.card-body:hover {
  cursor: pointer;
}

.techList {
  list-style-type: square;
}

#details {
  text-align: left;
}

#projectDisplay {
  margin: 2em;
  margin-left: 1em;
  margin-bottom: 20px;
  vertical-align: top;
}

#displayTitle {
  font-size: 34px;
  margin: 0.5em;
}
